
$text-primary:  black;

$custom-btn: #7A69B2;
$custom-primary-gray: #E0E0E0;
$custom-border: 2px;
$custom-btn-text: #FFFFFF;

$primary: #D9D2F1;
$secondary: #E0E0E0;
@import "../node_modules/bootstrap/scss/bootstrap";
