@import "./variables";


* {
    color: $text-primary;
    font-family: 'Abel', sans-serif;
}

.btn {
    width: 100%; 
    background-color: $custom-btn !important;
    color: $custom-btn-text !important;
}

.navbar-main {

    /* mt-5 var ikke nok margin (navbaren lå over innholdet)*/
    margin-top: 100px !important;
}

svg {
    width: 20px;
    height: 20px;
}

.logo-container {

 .login-logo {
    width: 50px;
 }
}

.login-screen-bg {
    background-image: url("/resources/graphic-bg.jpg");
    background-size: 150%;
}

.profile-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.profile-img-big {
    width: 100px;
    height: 100px;
    object-fit: cover;
}


.body-bg {
    background-image: url("/resources/Web\ 1920\ –\ 2.png");
    background-size: 100%;

}

.feed-photo img {
    object-fit: contain;
}



@import "../node_modules/bootstrap/scss/bootstrap";

