@import "./variables";


.login-screen-bg {
    background-image: url("/resources/graphic-bg.jpg");
    background-size: 150%;
}

* {
    color: $text-primary;
    font-family: 'Abel', sans-serif;
}

.btn {
    background-color: $custom-btn;
    border-radius: $custom-border;
    width: 100%;
    color: $custom-btn-text;   
}

.form-control {
    border-radius: $custom-border;
}

nav {
    color: $text-primary;

    .nav-link {
        color: black;
    }
}

.logo-container {

 .login-logo {
    width: 50px;
    margin-right: 1rem;
 }
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: .1px solid black;
    margin-right: .5rem;
}

svg {
    width: 20px;
    height: 20px;
    margin-right: .5rem;
}

.feed-body {
    background-image: url("/resources/Web\ 1920\ –\ 2.png");
    background-size: 100%
}

.search-btn {
    margin-left: 1rem
}

@import "../node_modules/bootstrap/scss/bootstrap";

